@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
:root{
    --nav-backgrd-clr:#024400;
    --btn-hover-clr:#ffda95;
    --canvas-border-clr:#6e440d;
}
* {box-sizing:border-box;}
body{
    margin: 0;
    height: 100vh;
    font-family: Roboto;
}
nav{
    background-color:var(--nav-backgrd-clr);
    width: 100%;
    height: 15%;
    display: flex; /*Pour centre l'image avec le margin auto*/
}
nav img{
    height: calc(100%-20px);
    width: auto;
    margin:10px auto 10px auto; /*centrage image*/
}
main{
    background-image: url("images/page-background.png");
    height: calc(100vh - 15%); /*toute la hauteur - la nav*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 25%;
}
#playing-content{
    margin-left:auto;margin-right: auto;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#playing-info{
    color: var(--nav-backgrd-clr);
    letter-spacing: 0.05em;
    display: flex;
    height: 8%;
    
}
#playing-info div{
    display: flex;
    width: 25%;
    align-items:flex-end;
    justify-content: center;
}
#playing-info img{
    height: 50%;
    width: auto;
    margin:2% 2% 3% 2%;
}    
#playing-info p{
    height: 50%;
    display: flex;
    align-items: center;
    margin:2% 2% 3% 2%;
}
#sound-img{
    cursor:pointer;
}
canvas{    
    background-image: url("images/game-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border:10px solid var(--canvas-border-clr);
    width: 100%;
    height: 80%;
    cursor: url(images/red-target.png),url(https://cur.cursors-4u.net/cursors/cur-1/cur5.cur), crosshair;
}
#btns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;      
}
.btn{
    font-size: 1em;
    letter-spacing: 0.1em;
    height: 50%;
    width: 25%;
    border: 2px solid white;
    color: white;
    cursor: pointer;       
    background-color: rgba(255,255,255,0);
    padding: 0;
    margin-left: 10px; margin-right: 10px;
}
.btn:hover{
    color: var(--canvas-border-clr);
    border-color: var(--canvas-border-clr);
}
.disabled {
    pointer-events: none;  /**<-----------*/
    opacity: 0.4;
}

@media (max-width: 800px) {
    body {
        font-size: 12px;
    }
}
@media (min-width: 801px) and (max-width: 1000px)  {
    body {
        font-size: 13px;
    }
}
@media (min-width: 1001px) and (max-width: 1280px)  {
    body {
        font-size: 14px;
    }
}
@media (min-width: 1281px) and (max-width: 1440px)  {
    body {
        font-size: 16px;
    }
}
@media (min-width: 1441px) and (max-width: 1920px)  {
    body {
        font-size: 18px;
    }
}

/*sm - small (768px and up)
md - medium (992px and up)
lg - large (1200px and up)
on parle de la width*/
